.postsContainer {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 10rem;
  list-style: none;
}

.post {
  position: relative;
  display: block;
  height: 40rem;
  border-radius: 1rem;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(176, 224, 230, 0.898);
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
}

.post:hover .overlay {
  transform: translateY(0);
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  border-top-right-radius: 4rem;
  max-height: 1rem;
  background-color: rgba(176, 224, 230, 0.898);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.post:hover .card__header {
  transform: translateY(0);
}

.title {
  font-size: 1rem;
  color: #000000;
}

.description {
  padding: 0 3rem 3rem;
  font-size: 0.8rem;
  margin: 0;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.avatar {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 50%;
}

.userContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  font-weight: 800;
}

.favButton {
  border: none;
  background-color: rgba(176, 224, 230, 0.898);
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.imageContainer {
  position: relative;
}

.deleteButton {
  border: none;
  background-color: rgba(176, 224, 230, 0.898);
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.editContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.editIcon {
  padding: 0.5rem;
}

.editIcon:hover {
  background-color: rgb(157, 233, 243);
  border-radius: 50%;
}

.checkIcon {
  margin-left: 1rem;
  background-color: rgb(157, 233, 243);
  padding: 0.5rem;
  border-radius: 50%;
}

.checkIcon:hover {
  background-color: rgb(129, 255, 251);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descriptionContainerEdit {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .postsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1370px) and (min-width: 800px) {
  .postsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
