.title {
  font-family: 'Rampart One', cursive;
  font-size: 6rem;
  color: #545273;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);
  text-decoration: none;
}

.nav {
  padding: 2rem;
  background-color: #b0e0e6;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 400px;
  height: auto;
}

.userMenu {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.userMenuAvatar {
  height: auto;
  cursor: pointer;
  width: 70px;
  border-radius: 50%;
}

.linkContainer {
  margin-top: 1rem;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #545273;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 3rem;
  }
  .logo {
    width: 100px;
    height: auto;
  }
  .userMenuAvatar {
    width: 50px;
  }
  .userMenu {
    right: 1rem;
  }
}
