.title {
  font-family: 'Rampart One', cursive;
  font-size: 6rem;
  color: #545273;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.747);
  text-decoration: none;
}

.nav {
  padding: 2rem;
  background-color: #b0e0e6;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 400px;
  height: auto;
}

.userMenu {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.avatar {
  height: auto;
  cursor: pointer;
  text-transform: uppercase;
  width: 4rem;
  border: #545273 solid 2px;
  color: #545273;
  border-radius: 50%;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  border-radius: 1rem;
  align-items: flex-end;
}

.link {
  text-decoration: none;
  font-size: 18px;
  padding: 0.3rem;
  color: #545273;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.home {
  color: #545273;
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.email {
  max-width: 15rem;
  align-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 3rem;
  }
  .logo {
    width: 100px;
    height: auto;
  }
  .userMenu {
    right: 1rem;
  }
}
